.construction {
    display: flex;
    justify-content: center;
    align-items: center;
}

#construction-image {
	width: 100px;
    height: 100px;
}

.center-block {
	text-align: center;
}
body {
    background: rgb(255, 255, 255);
    color: rgb(255, 208, 176);
    font-family: 'Montserrat', sans-serif;
  }
  h1,
  h2 {
    font-weight: bold;
  }
  p {
    font-size: 16px;
    color: #474747;
  }

/* navigation bar */
  .navbar {
    margin-bottom: 0;
    position: fixed;
    width: 100%;
    box-shadow: 0 6px 20px 0 rgba(61, 85, 75, 0.055);
  }
  .menu {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(90, 90, 90);
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* Main */
  .jumbotron1 h1 {
    background: rgb(255, 255, 255);
    color: rgb(162, 184, 172);
    text-align: left;
    font-size: 100px;
    margin: 180px 90px 190px 50px;
  }
  .jumbotron {
    background: rgb(255, 236, 226);
    color: rgb(100, 100, 100);
    text-align: center;
    margin: 0px 0px 70px 0px;
  }
  .jumbotron p {
    color: rgb(110, 110, 110);
    font-size: 26px;
  }
  .navbar-default {
    background: rgb(255, 255, 255);
    border: 0;
  }
  .dropdown-menu {
    background: rgb(255, 255, 255);
    border-radius: 0;
    border: 0;
  }
  .navbar-default .navbar-nav li a {
    color: rgb(75, 75, 75);
    font-size: 16px;
  }
  .navbar-default .navbar-nav li a:hover {
    background: rgb(198, 248, 232);
  }
  .navbar-default .navbar-nav .dropdown-menu li a:hover {
    background: rgb(215, 255, 230);
  }
  .dropdown-menu li a {
    padding: 10px;
  }
  .btn-primary {
    color: rgb(83, 83, 83);
    background-color: transparent;
    border-color: rgb(116, 116, 116);
    margin-bottom: 5px;
  }
  .btn-primary:hover {
    color: rgb(255, 162, 86);
    background-color: rgb(255, 255, 255);
    border-color: rgb(121, 121, 121);
  }
  .glyphicon-large {
    font-size: 100px;
  }
  .glyphicon-arrow-down {
    margin-left: 49%;
    font-size: 60px;
    margin-bottom: 20px;
  }
  .call-to-action {
    text-align: center;
  }
  .call-to-action p {
    margin-bottom: 30px;
    font-family: sans-serif;
  }
  .navbar-toggle {
      background-color: rgb(188, 255, 213);
      border-color: white;
      color: red;
  }
  .page-footer {
    background-color: rgb(251, 255, 0);
  }