/* Navigation bar */
  .navbar {
    margin-bottom: 0;
    position: fixed;
    width: 100%;
    border: 0;
  }

  .navbar-brand {
    padding-top: 20px;
  }

  .menu {
    display: inline-block;
    cursor: pointer;
    width: 100%;
    background: rgb(255, 255, 255, 0.0);
    
  }

  .hammenu {
    float: right;
    margin: 0 20px 10px 0;
    padding-top: 0;

  }

  .bar1, .bar2, .bar3 {
    width: 30px;
    height: 3px;
    border-radius: 25px;    
    background-color: rgb(107, 107, 107);
    margin: 8px 0;
    transition: 0.4s;
}

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

  .change .bar2 {opacity: 0;}

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* Menu dropdown */
  .dropdown-menu {
    background: rgb(255, 255, 255);
    border-radius: 0;
    border: 0;
  }

  .dropdown-menu li a {
    padding: 10px;
  }

  .navbar-default .navbar-nav li a {
    color: rgb(255, 255, 255);
    font-size: 16px;
  }

/* Main */

  body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);

  }

  p {
      font-size: 48px;
      position: relative;
      padding: 60px 0 0 50px;
      
  }

  .normal {
    padding-top: 300px;
  }

  .best {
    padding-top: 200px;
  }

  .time {
    padding-top: 200px;
  }

  .jumbotron, .container {
    border-radius: 6px;
  }

  .page-footer {
    background-color: rgb(255, 234, 234);
  }

  .page-footer p {
    font-size: 20px;
  }


  /*Background*/

  .desktop {
    position: relative;
    width: 100%;
    height: 4052px;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  }

  .first {
    position: absolute;
    width: 1315.33px;
    height: 787px;
    left: -181px;
    top: -78.82px;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    transform: rotate(-13.33deg);
  }
  .second {
    position: absolute;
    width: 1024px;
    height: 653px;
    left: 0px;
    top: 338px;
    background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
  }

  .third {
    position: absolute;
    width: 1315.33px;
    height: 787px;
    left: -219px;
    top: 876.18px;
    background-image: linear-gradient(-225deg, #DFFFCD 0%, #90F9C4 48%, #39F3BB 100%);
    transform: rotate(-13.33deg);
  } 

  .fourth {
    position: absolute;
    width: 1469px;
    height: 787px;
    left: -313px;
    top: 1526.02px;
    background-image: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);;
    transform: rotate(-20.02deg);
  }
  .fifth {
    position: absolute;
    width: 1903.57px;
    height: 787px;
    left: -179.94px;
    top: 1659px;
    background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);
    transform: rotate(4.09deg);
  }

  .sixth {
    position: absolute;
    width: 1469px;
    height: 802.25px;
    left: -48.94px;
    top: 2054.05px;
    background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
    transform: rotate(19.06deg);
  }

  .seventh {
    position: absolute;
    width: 1225.91px;
    height: 1127.89px;
    left: 286.27px;
    top: 3232px;
    background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
    transform: rotate(19.06deg);
  }

  .ellipse {
    border-radius: 50%;   
     
  }